@model RMCHelpDesk.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>

    Panding Complains : @Model.PendingComplains

    <br />

    Assigned Complains : @Model.AssignedComplains

    <br />
    Solved Complains : @Model.SolvedComplains

    <br />
</h3>
